/*clases cesu*/

.cesu-body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* texto del body */
    background: linear-gradient(135deg, #fff9d6, #ffe6f0);
}


.cesu-header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* separación de la tarjeta */
}

.cesu-main {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* barra de navegacion*/
.cesu-nav-list {
    display: flex; 
    justify-content: center;
    padding: 0;
    margin: 20px 0;
    list-style: none;
    gap: 15px;  /* espacio entre links */
}

.cesu-link {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 12px;
    background-color: #ffb6c1;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cesu-link:hover,
.cesu-link[aria-current="page"] {
    background-color: #ff91a4;
}


/*mi tarjeta*/
.cesu-tarjeta {
    background-color: white;
    max-width: 400px;
    width: 90%; /* responsive */
    padding: 20px;
    border-radius: 20px; /* bordes redondeados */
    box-shadow: 0 8px 20px rgba(0,0,0,0.15); /* sombra */
    text-align: center;
}

.cesu-tarjeta h1 {
    font-family: 'Meow Script', cursive;
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #333;
}

.cesu-info.cesu-info {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
}

/* Línea horizontal separadora */
.cesu-divider {
    border: none;
    height: 1px;
    background: linear-gradient(to right, #ffb6c1, #ffe6f0);
    margin: 15px 0;
}

.cesu-imagen {
    width: 150px;
    border-radius: 50%; /* círculo en la imagen*/
    margin-bottom: 15px;
}

.cesu-tarjeta h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.5rem;
    margin: 15px 0 10px 0;
    color: #555;
}

.cesu-tarjeta ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cesu-tarjeta li {
    margin-bottom: 8px;
    font-size: 1rem;
    color: #444;
}