
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("../img/fondoDani.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}



/* Encabezado */
.header h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.6);

    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

/* Botón volver */
.header nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Tarjeta */
.card {
    background: rgba(0, 0, 0, 0.65);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.7);
    max-width: 400px;
    width: 90%;
    animation: fadeIn 1s ease-in-out;
}

/* Avatar */
.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30%;
    border: 4px solid #fff;
    margin-bottom: 15px;
}

/* Nombre */
.card h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

/* Texto */
.card p {
    margin: 8px 0;
    font-size: 1rem;
}

/* Botón */
button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #ff6b6b;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}
/*button:hover {
    background: #4c0404;
}

