#bodyeuge{

    text-align: center;
    color: #fe9c8f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fff5ee;




}



#cajaTextoEuge{
   
        padding: 15px;
        display: inline-block;
        background-color: #ffffff;
        border-radius: 8px;
    
}
#h2euge {
    font-size: 1.5em;
}

#contenidoEuge{
    font-size: large;
    font-weight: bold;

}
#listaEuge{
    font-size: 1.1rem;
    
    padding: 0.2rem;
 list-style-type: none;
}

li{
margin-top: 10px;
margin-bottom:10px;
}

#Belgrano{
        padding: 7px;
            display: inline-block;
            background-color: #ffffff;
            border-radius: 8px;
            border-color: #fe9c8f;
            
}



.popupEuge{
    visibility: hidden;
}

.popupEuge.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#cajaTextoEuge2{

    display: inline-block;
    background-color: #fff5ee;
    font-size: large;
    

}
