
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f9f8fa;
    color: #333;
    line-height: 1.6;
    text-align: center;
}


.fotoMain {
    background-image: url("../img/fondoMain.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 20rem;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.Titulo {
    background-color: white;
    color: black;
    font-size: 5vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

li {
    margin-top: 10px;
    margin-bottom: 1px;
}

#listaMain {
    font-size: 1rem;
    padding: 0.2rem;
    list-style-type: none;
}
.equipo {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.persona {
/* codigo original  
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;*/
  position: relative;
  width: 230px;
  height: 270px;
  overflow: hidden;
  cursor: pointer;
}


.nombre {
/*    font-size: 25px;
    margin: 5px 0;
    color: #333;
    font-weight: 700;
*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  opacity: 0; /* oculto por defecto */
  transition: opacity 0.3s ease;
  background: rgba(0,0,0,0.5);
  padding: 5px 10px;
  border-radius: 10px;

}

.persona img {
/*    display: block;
    transition: transform 0.3s ease;
*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
    }

    /*Clase para JS*/

.persona.activa img {
  filter: blur(3px) brightness(70%);
}

.persona.activa .nombre {
  opacity: 1;
}