
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f9f8fa;
    color: #333;
    line-height: 1.6;
    text-align: center;
}


.fotoMain {
    background-image: url("../img/fondoMain.png");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 20rem;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.Titulo {
    background-color: white;
    color: black;
    font-size: 5vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

li {
    margin-top: 10px;
    margin-bottom: 1px;
}

#listaMain {
    font-size: 1rem;
    padding: 0.2rem;
    list-style-type: none;
}
.equipo {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.persona {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.nombre {
    font-size: 25px;
    margin: 5px 0;
    color: #333;
    font-weight: 700;
}

.persona img {
    display: block;
    transition: transform 0.3s ease;
}