/* Edit this CSS file */
body { font-family: 'Roboto', sans-serif; margin: 20px; }
img { max-width: 200px; }
@media (max-width: 400px) { body { font-size: 14px; } }
@media (max-width: 900px) { body { font-size: 16px; } }
@media (min-width: 1200px) { body { font-size: 18px; } }