.button {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.3rem 0.6rem;
    background: #D4B8D2;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    transition: background 0.2s;
}

.button:hover {
    background: #AFC7FB;
}